[submodule "vim-files/autoload/vim-pathogen"]
	path = vim-files/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-files/bundle/vim-sensible"]
	path = vim-files/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-files/bundle/gruvbox"]
	path = vim-files/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-files/bundle/nerdtree"]
	path = vim-files/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim-files/bundle/vim-fugitive"]
	path = vim-files/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-files/bundle/vim-go"]
	path = vim-files/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-files/bundle/syntastic"]
	path = vim-files/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-files/bundle/ctrlp.vim"]
	path = vim-files/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim-files/bundle/YouCompleteMe"]
	path = vim-files/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim-files/bundle/vim-airline"]
	path = vim-files/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
